@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Freckle+Face&family=Kablammo&family=Mystery+Quest&display=swap');


body{
    background: orange;
}

header{
    display: grid;
    display: inline-block fill;
    background: black;
    grid-template-columns: 5fr;
    gap: 200px 200px;
}

ul{
    font-size: 40px;
    text-align: center;
    justify-items: center;
    align-items: center;
 


}

li {
    margin-right: 2fr;
    font-family: Mystery Quest;
    display: inline-block;
    border: dotted 5px orange;
    background: purple;
    margin: 0 90px;
}

main{
    font-family: Freckle Face;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.bats{
    background: grey;
}